* {
	font-family: sans-serif;
	box-sizing: border-box;
	text-align: center;
}
html{
	min-width: 180px;
}
body{
	background-color: white;
	margin: auto;
	font-size: 20px;
}
.std-contain{
	background-color: white;
	width: 1190px;
	margin:auto;
	min-height: 600px;
}
@media only screen and (max-width: 1190px) {
	.std-contain{
		width: 100%;
	}
}

/*text colors*/
.user-txtcolor{
    color: rgb(1, 3, 126);
}
.admin-txtcolor{
    color: rgb(150, 21, 21);
}

/*title text defaults*/
.title-fontsize{
    font-size: 35px;
}
.title-padding{
    padding: 20px;
}

/*non-responsive display settings*/
.disflex{
    width: 100%;
    display: flex;
}

/*positions*/
.pos-rel{
    position: relative;
}
.pos-relstat{
    position: relative;
}
@media only screen and (max-width:753px){
    .pos-relstat{
        position: static;
    }
}
.pos-ab{
    position: absolute;
}
.pos-abstat{
    position: absolute;
}
@media only screen and (max-width:960px){
    .pos-abstat{
        position: static;
    }
}
.pos-sticky{
    position: sticky;
}
.pos-top{
    top: 0;
}
.pos-left{
    left: 0px;
}
.pos-right{
    right: 0;
}

/*separate justify-content settings*/
.justice-center{
    justify-content: center;
}

/*popup menu defaults*/
.popup-menu-width{
    width: 300px;
}
.popup-menuopt-width{
    width: 100%;
}
.popup-menu-fixed{
    position: fixed; 
}
.popup-menu-height{
    height: 1000px;
}
.popup-menu-opac{
    opacity: 0.9;
}

/*Default Color Schemes*/
.user-colors{/*Color Scheme for Pages accessible for Users*/
    background-color: rgb(1, 3, 126);
}
.user-lightcolors{
    /* background-color: rgb(224, 230, 247); */
    background-color: rgb(171, 191, 244);
}
.admin-colors{/*Color Scheme for Pages accessible for Admin only*/
    background-color: rgb(150, 21, 21);
}
.menu-txtcolor{/*Color scheme for text*/
    color: whitesmoke;
}

.main-menu-dis{/*Menu hides content*/
    display: flex;
}
.popup-menu-dis{/*Menu hides content*/
    display: none;
}
@media only screen and (max-width:753px){
    .main-menu-dis{
        display:none;
    }
    .popup-menu-dis{
        display: block;
    }
}

/*Menu content displaying*/
.menu-flex{/*Menu displays content on top and/or bottom*/
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:960px){
    .menu-flex{
        justify-content: left;
    }
}
.menu-block{/*Menu displays content on left and/or right*/
    display: block;
}
.menu-none{/*Menu displays no content*/
    display: none;
}

/*Menu text displaying*/
.menu-txtalign-left{/*menu displays content on left block*/
    text-align: left;
}
.menu-txtalign-center{/*menu displays content on center*/
    text-align:center;
}
.menu-notxtdecor{/*menu displays no text decoration */
    text-decoration: none;
}

/*Color scheme of text in button*/
.menu-btn-txtcolor{
    color: whitesmoke;
}
.menu-btn-txtcolor:link, .menu-btn-txtcolor:visited{
    color: whitesmoke;
}
.menu-btn-txtcolor:hover{
    color: black;
}
.menu-btn-txtcolor:active{
    color: whitesmoke;
}

/*Color Scheme of buttons for User Pages*/
.user-btn-colors{
    background-color: rgb(1, 3, 126);
}
.user-btn-colors:link, .user-btn-colors:visited{
    background-color: rgb(1, 3, 126);
}
.user-btn-colors:hover{
    background-color: whitesmoke;
}
.user-btn-colors:active{
    background-color: rgb(150, 21, 21);
}
.user-selbtn-colors{
    background-color: rgb(150, 21, 21);
}
.user-selbtn-colors:link, .user-selbtn-colors:visited{
    background-color: rgb(150, 21, 21);
}
.user-selbtn-colors:hover{
    background-color: whitesmoke;
}
.user-selbtn-colors:active{
    background-color: rgb(150, 21, 21);
}

/*Color Scheme of buttons for Admin Pages*/
.admin-btn-colors{
    background-color: rgb(150, 21, 21);
}
.admin-btn-colors:link, .admin-btn-colors:visited{
    background-color: rgb(150, 21, 21);
}
.admin-btn-colors:hover{
    background-color: whitesmoke;
}
.admin-btn-colors:active{
    background-color: rgb(1, 3, 126);
}
.admin-selbtn-colors{
    background-color: rgb(1, 3, 126);
}
.admin-selbtn-colors:link, .admin-btn-colors:visited{
    background-color: rgb(1, 3, 126);
}
.admin-selbtn-colors:hover{
    background-color: whitesmoke;
}
.admin-selbtn-colors:active{
    background-color: rgb(1, 3, 126);
}

/*menu defaults*/
.menu-padding{/*Padding for menu buttons*/
    padding: 41px 40px;
}
.menu-logo{/*Defaults for logo in menu*/
    width: 100px;
    height: 100px;
    padding: 10px 10px;
}
.menu-width-200px{/*200px width for div in menu*/
    width: 150px;
}

/*masthead background image defaults*/
.mast-height-auto{
    height: auto;
}
.mast-bgimg{
    background-image: url("alum-images/banner-tp.png");
}
.mast-bgnorep{
    background-repeat: no-repeat;
}
.mast-bgsize{
    background-size: 100%;
}

.mast-opacity-1{
    opacity: 1.0;
}

/*masthead image container defaults*/
.mast-imgcon-padding{
    padding: 100px;
}
.mast-imgcon-width{
    width: 100%;
}
@media only screen and (max-width:489px){
    .mast-imgcon-padding{
        padding: 100px 0px;
    }
}

/*masthead image defaults*/
.mast-img-width{
    width: 500px;
    min-width: 274px;
}
@media only screen and (max-width:715px){
    .mast-img-width{
        width: 100%;
    }
}
@media only screen and (max-width:489px){
    .mast-img-width{
        width: 50%;
    }
}

/*content settings - test.php*/
.cont-width{
    width: 33.3%;
}
@media only screen and (max-width:930px){
    .cont-width{
        width: 100%;
    }
}
.cont-padding{
    padding: 10px;
}

/*content background settings - test.php*/
.cont-bgcolor{
    background-color: rgb(224, 230, 247);
}

/*content image settings - test.php*/
.cont-img-width{
    width: 100%;
}
.cont-img-maxwidth{
    max-width: 250px;
}
.cont-img-maxheight{
    max-height: 250px;
}
@media only screen and (max-width:930px){
    .cont-img-maxwidth{
        max-width: 350px;
    }
    .cont-img-maxheight{
        max-height: 350px;
    }
}

/*content settings - alumni.php*/
.alum-cont-width{
    width: 33.3%    
}
@media only screen and (max-width:930px){
    .alum-cont-width{
        width: 33.3%;
    }
}

/*content text defaults - alumni.php*/
.alum-txtfontsize{
    font-size: 20px;
}
.alum-padding{
    padding: 5px;
}

/*cover background image defaults*//*DISAVOWED*/
/* .coverimg-bgimg{
    background-image: url("alum-images/amber-cropped.png");
}
.coverimg-min-height{
    min-height: 300px;
} */

/*content cover photo defaults - profile.php*//*DISAVOWED*/
/* .coverimg-padding{
    padding-top: 200px;
}
.coverimg-width{
    width: 100%;
}
@media only screen and (max-width:489px){
    .coverimg-padding{
        padding: 50% 0px;
    }
} */

/*footer defaults*/
.foot-width{
    width: 33.3%;
}
@media only screen and (max-width:930px){
    .foot-width{
        width: 100%;
    }
}
.foot-flex{
    display: flex;
}
@media only screen and (max-width:930px){
    .foot-flex{
        display: block;
    }
}
.foot-padding-top{
    padding-top: 100px;
}
.foot-padding-bot{
    padding-bottom: 50px;
}
.foot-img{
    width: 60%;
}

/*misc default widths*/
.width-50\%{
    width: 50%;
}

/*misc default paddings*/
.padding-10px{
    padding: 10px;
}

/*misc default margins*/
.margin-sides-10\%{
    margin-left: 10%;
    margin-right: 10%;
}
.margin-sides-30\%{
    margin-left: 30%;
    margin-right: 30%;
}