* {
	font-family: sans-serif;
	box-sizing: border-box;
	text-align: center;
}
html{
	min-width: 180px;
}
body{
	background-color: whitesmoke;
}
.std-contain{
	background-color: whitesmoke;
	width: 1190px;
	margin:auto;
}

@media only screen and (max-width: 1190px) {
	.std-contain{
		width: 100%;
	}
}


/*HOME.HTML-----------------------------------------------------------------------------------------------------*/


/* DEFAULTS */

div.topbar, div.masthd, div.banner, div.auxmenu, div.content, div.agenft, div.stdft{
	width: 100%;
}
div.topbar, div.auxmenu{
	background-color: grey;
	height: 100%;
}
.std-contain .topbar input[type=submit]{
	height: 50px;
	font-size: 20px;
	border-radius: 10px;
}

div.masthd{
	background-color: darkgrey;
	height: 140px;
}
div.banner{
	height: 460px;
	background-color: lightgray;
}

div.content{
	height: 50%;
	background-color: whitesmoke;
}
div.agenft{
	height: 30%;
	background-color: darkgray;
}
div.stdft{
	height:20%;
	background-color: gray;
}

/*TOPBAR*/


