* {
	font-family: sans-serif;
	box-sizing: border-box;
	text-align: center;
}
html{
	min-width: 180px;
}
body{
	background-color: white;
	margin: auto;
	font-size: 20px;
}
.std-contain{
	background-color: whitesmoke;
	width: 1190px;
	margin:auto;
}

@media only screen and (max-width: 1190px) {
	.std-contain{
		width: 100%;
	}
}
/*LOGIN.HTML & REGISTER.HTML------------------------------------------------------------------------------------*/



.reglogin-contain{
	width: 100%;
	padding: 50px
}




/*LOGIN.HTML------------------------------------------------------------------------------------*/



.loginbox{
	background-color: white;
	padding: 50px 60px;
	width: 700px;
	margin: auto;
	border-radius: 40px;
	/*mel's default shadow: */
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	 */
}
@media only screen and (max-width:816px){
	.loginbox{
		width:100%;
	}
	.reglogin-contain{
		padding:0px;
	}
}
/*ACLC ALUMNI LOG IN*/
.log-title{
	font-style: bold;
	font-size: 40px;
	margin-bottom: 30px;
}
/*LOG IN SCREEN @ 559px AND LESS: SMALLER FONT*/
@media only screen and (max-width:559px){
	.log-title{
		font-size:20px;
	}
}
/*ALL INPUT TYPES HEIGHT, FONT SIZE, AND EDGE CURVES DEFAULTS*/
.loginbox input[type=text], .loginbox input[type=password], .loginbox input[type=submit]{
	height: 50px;
	font-size: 20px;
	border-radius: 10px;

}
/*ALL INPUT TYPES IN 559px AND LESS: SMALLER HEIGHT, FONT SIZE, LESS CURVES ON THE EDGES*/
@media only screen and (max-width:559px){
	.loginbox input[type=text], .loginbox input[type=password], .loginbox input[type=submit]{
		height: 30px;
		font-size: 15px;
		border-radius: 8px;
	}
}
/*USERNAME AND PASSWORD INPUTS' DEFAULT WIDTH, MARGINS, AND BORDERS */
.loginbox input[type=text], .loginbox input[type=password]{	
	width: 80%;
	margin-bottom: 20px;
	border: 1px solid;
}
/*LOGIN BUTTON DEFAULT WIDTH, MARGINS, AND BORDERS */
.loginbox input[type=submit]{
	margin-top: 10px;
	width: 200px;
	border: none;
}
@media only screen and (max-width: 338px){
	.loginbox{
		padding: 50px 30px;
	}
	.loginbox input[type=submit]{
		width: 100%;
	}
}



/*REGISTER.HTML------------------------------------------------------------------------------------*/


/*REGISTRATION BOX, WHERE ALL BLOCKS FOR REGISTER.HTML GOES IN*/
.regbox{
	/* text-align: left; */
	background-color: white;
	padding: 50px 60px;
	/* min-width: 700px; */
	width: 100%;
	max-width: 1190px;
	margin: auto;
	border-radius: 40px;
	/*mel's default shadow: */
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
}
/* @media only screen and (max-width:816px){
	.regbox{
		width:100%;
	}
	/* .reglogin-contain{
		padding:0px;
	} 
} */
/*ACLC ALUMNI REGISTRATION DEFAULTS*/
.reg-title{
	padding:50px;
	font-style: bold;
	font-size: 40px;
	margin-bottom: 30px;
	/* text-align: center; */
}
.reg-form-title{
	text-align: left;
	margin: 30px 200px 10px;
	font-size: 25px;
}
@media only screen and (max-width: 1040px){

	.reg-form-title{
		margin: 20px 100px 5px;
	}
}
@media only screen and (max-width: 711px){

	.reg-form-title{
		margin: 15px 20px 3px;
	}
}
@media only screen and (max-width: 565px){

	.reg-form-title{
		margin: 10px 0px 0px;
	}
}

/* .regform-title label{
	
	
} */
/*ACLC ALUMNI REGISTRATION on 559px SCREEN OR LESS: SMALLER FONT SIZE, LESS PADDING*/
@media only screen and (max-width:559px){
	.reg-title{
		font-size:20px;
		padding: 25px 0px;
		margin-bottom: 0px;
	}
	.reg-form-title{
		font-size: 17px;
	}
}

.regbox input[type=text], .regbox input[type=number], .regbox input[type=email], .regbox input[type=date], .regbox input[type=password], .regbox input[type=submit]{
	height: 50px;
	font-size: 20px;
	border-radius: 10px;

}
@media only screen and (max-width:559px){
	.regbox input[type=text], .regbox input[type=number], .regbox input[type=email], .regbox input[type=date], .regbox input[type=password], .regbox input[type=submit]{
		height: 30px;
		font-size: 15px;
		border-radius: 8px;
	}
}

.reglog-cin-form, .reglog-gen-radio{
	padding: 10px 200px;
	display: flex;
}
/* .reglog-cin-form{
	display: flex;
}*/
.reglog-gen-radio{	
	text-align: left;
	/* display: flex; */
}
.div-gen{
	text-align: left;
	display: flex;
}


/* .reglog-cin-form-blk{
	padding: 10px 200px;
	display: block;
} */
@media only screen and (max-width: 1190px){
	.reglog-gen-radio{
		display: block;
	}
	
	
}
@media only screen and (max-width: 1040px){
	.reglog-cin-form, .reglog-gen-radio{
		padding: 10px 100px;
	}
	
	
}
@media only screen and (max-width: 711px){
	.reglog-cin-form, .reglog-gen-radio{
		padding: 10px 20px;
		/* display: block; */
	}
	
}
@media only screen and (max-width: 565px){
	.reglog-cin-form, .reglog-gen-radio{
		padding: 5px 0px;
	}
	
	
}
@media only screen and (max-width: 435px){
	.reglog-cin-form, .reglog-gen-radio{

		display:block;
	}
}
.regbox label{
	text-align: left;
	font-size: 18px;
	width: 30%;
	padding: 12px;
	margin: auto;
}
.div-gen label{
	text-align: left;
	margin: 0px;
} 
@media only screen and (max-width:559px){
	.regbox label{
		font-size: 15px;
	}
}
@media only screen and (max-width: 435px){
	.reglog-cin-form{
		display:block;
	}
	.regbox label{
		width: 100%;
		margin: 0px;
	}
}
.regbox input[type=text], .regbox input[type=number], .regbox input[type=email], .regbox input[type=date], .regbox input[type=password]{
	text-align: left;
	padding: 10px;	
	width: 70%;
	margin-bottom: 20px;
	border: 1px solid;
	margin: auto;
}
@media only screen and (max-width: 435px){
	.regbox input[type=text], .regbox input[type=number], .regbox input[type=email], .regbox input[type=date], .regbox input[type=password]{	
		width: 100%;
		margin-bottom: 10px;
	}
	.reglog-cin-form{
		text-align: left;
	}
}
.regbox input[type=submit]{
	margin-top: 10px;
	width: 200px;
	border: none;
}
@media only screen and (max-width: 338px){
	.regbox{
		padding: 50px 30px;
	}
	
	.regbox input[type=submit]{
		width: 100%;
	}
}
@media only screen and (max-width:220px){
	.regbox{
		padding: 50px 15px;
	}
}
.linklogin{
	font-size: 15px;
}

/*index.php----------------------------------------------------------------------------------------------------------------*/

div.index-topbar, div.index-masthd, div.banner, div.auxmenu, div.content, div.index-agenft, div.stdft{
	width: 100%;
}

div.index-topbar{
	background-color: rgb(1, 3, 126);
    display: flex;
    /* font-size: 25px; */
}
div.index-masthd{
    height: auto;
	background-image: url("alum-images/banner-tp.png");
	background-repeat: no-repeat;
	background-size:100%;
	/* opacity: 0.5; */
}
@media only screen and (max-width:912px){
	div.index-masthd{
		background-size: 1366px;
	}
}
@media only screen and (max-width:580px){
	div.index-masthd{
		background-size: 800px;
	}
}
/* .index-masthd::before{
	height: auto;
	content: "";
	background-image: url("alum-images/banner.png");
	opacity: 1.0;
	background-color: rgba(0, 0, 0, 0.5);
} */
div.banner{
	height: 460px;
	/* background-color: lightgray; */
	/* background-image: url("alum-images/banner.png"); */
}

div.auxmenu{
	display: none;
}
div.index-content{
	/* height: 30%; */
	background-color: white;
}
div.index-agenft{
	display: flex;
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: rgb(235, 239, 250);
}
@media only screen and (max-width:930px){
	div.index-agenft{
		display: block;
		/* text-align: center; */
	}
}
div.stdft{
	height:20%;
	background-color: gray;
}


/*TOPBAR-------------------------------------------------------------*/
.index-tb-logo{
    width: 200px;
}
.index-tb-logo img{
    width: 100px;
    height: 100px;
    padding: 10px 10px;
}
.tb-icon {
	padding: 26px 20px;
	display:none;
}
.tb-a:link, .tb-a:visited{
	background-color: rgb(1, 3, 126);
	color: black;
	text-decoration: none;
}
.tb-a:hover{
	background-color: rgb(1, 3, 92);
	color: black;
	text-decoration: none;
}
.tb-a:active{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
}
/* .tb-icon i:link, .tb-icon i:visited{
	color: white;
}
.tb-icon i:hover{
	background-color: rgb(1, 3, 92);
	color: black;
	text-decoration: none;
}
.tb-icon i:active{
	background-color: rgb(1, 3, 92);
	color: white;
	text-decoration: none;
} */
.tb-title{
	width: 300px;
	padding: 20px 0px;
}
.index-tb-menu{
    display: flex;
    width: 100%;
}
.tb-selected-menu{
    display: flex;
    /* width: 100%; */
}
.index-popup-menu{
	width: 300px;
	height: 1000px;
	position: fixed;
	display: none;
	opacity: 0.9;
	/* border: solid 1px black; */
	background-color: rgb(1, 3, 126);
}
/* .index-popup-selectedmenu{
	width: 300px;
	height: 1000px;
	position: fixed;
	display: none;
	opacity: 0.9;
	border: solid 1px black;
	background-color: rgb(189, 4, 4);
} */
@media only screen and (max-width:753px) {
	.tb-title, .index-tb-menu a, .tb-selected-menu a{
		display: none;
	}
	.tb-icon{
		display: block;
	}
	#tb-a-x{
		display: none;
	}
	#tb-a-bars{
		display: block;
	}
}
/* @media only screen and (min-width:754px){
	.popup-tb-menu{
		display: none;
	}
} */
.tb-menu-opt, .tb-menu-selectedopt, .tb-pf-opt, .index-popmenu-opt, .index-popmenu-selectedopt{
    padding: 41px 40px;
}

.index-tb-menu a{
	text-decoration: none;
	color: white;
}

.tb-menu-opt:link, .tb-menu-opt:visited{
	background-color: rgb(1, 3, 126);
	color: white;
	text-decoration: none;
}
.tb-menu-selectedopt{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
}
.tb-menu-selectedopt:link, .tb-menu-selectedopt:visited{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
}
.tb-menu-opt:hover, .tb-menu-selectedopt:hover{
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
}
.tb-menu-opt:active, .tb-menu-selectedopt:active{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
}
.tb-selected-menu a:link, .tb-selected-menu a:visited{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
}
/* .tb-menuopt-selected:link, .tb-menuopt-selected:visited{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
} */
.tb-selected-menu a:hover{
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
}
.tb-selected-menu a:active{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
}

.index-tb-menu .tb-menu-opt{
    /* border: solid 1px; */
    /* width: 100%; */
    text-align: center;
}
.index-popmenu-opt, .index-popmenu-selectedopt{
	text-align: left;
}
/* .popup-tb-menu-opt{
	border:solid 1px black;
} */
.index-popup-menu a{
	text-decoration: none;
	color:white;
}
.index-popmenu-opt:link, .index-popmenu-opt:visited{
	background-color: rgb(1, 3, 126);
	color: white;
	/* text-decoration: none; */
	
}
.index-popmenu-selectedopt{
	background-color: rgb(189, 4, 4);
	color: white;
}
.index-popmenu-selectedopt:link, .index-popmenu-selectedopt:visited{
	background-color: rgb(189, 4, 4);
	color: white;
	/* text-decoration: none; */
	
}
.index-popmenu-opt:hover, .index-popmenu-selectedopt:hover{
	background-color: whitesmoke;
	color: black;
	/* text-decoration: none; */
	
}
.index-popmenu-opt:active, .index-popmenu-selectedopt:active{
	background-color: rgb(189, 4, 4);
	color: white;
	
}

/* .index-popup-selectedmenu a{
	background-color: rgb(189, 4, 4);
	color: white;
}
.index-popup-selectedmenu a:link, .index-popup-selectedmenu a:visited{
	background-color: rgb(189, 4, 4);
	color: white;
} */
/* .index-popup-selectedmenu a:hover{
	background-color: whitesmoke;
	color: black; */
	/* text-decoration: none; */
	
/* } */
/* .index-popup-selectedmenu a:active{
	background-color: rgb(189, 4, 4);
	color: white;
	
} */
.tb-profile{
    display: flex;
    /* width:inherit; */
	
    /* border: solid 1px; */
    
}
/* text-align: center; */
/* .tb-profile a{
	width: 100%;
	text-align: right;
} */

.tb-profile a:link, .tb-profile a:visited{
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
}
.tb-profile a:hover{
	background-color: lightgray;
	color: black;
	text-decoration: none;
}
.tb-profile a:active{
	background-color: gray;
	color: white;
	text-decoration: none;
}
.tb-profile .tb-menu-opt{
    /* border: solid 1px; */
    width: 100%;
    text-align: center;
}


/*MASTHEAD-----------------------------------------------------------------------------*/

.mast-title, .mast-aclc-img{
	opacity: 1.0;
}
.mast-aclc-img{
    /* height: auto; */
	padding: 100px;
	width: 100%;
}
.mast-aclc-img img{
	
	width: 500px;
	min-width: 274px;
	/* background-color: white; */
}
@media only screen and (max-width:715px){
	.mast-aclc-img img{
		width: 100%;
	}
}
@media only screen and (max-width:489px){
	.mast-aclc-img{
		/* height: auto; */
		padding: 100px 0px;
		
	}
	.mast-aclc-img img{
		width: 50%;
	}
}
.mast-title{
	font-size: 50px;
}


/*CONTENT AREA------------------------------------------------------------------------------*/

.cont-home h1{
    display: block;
	text-align: left;
}
.cont-dir{
    display: none;
}
.cont-prof{
    display: none;
}

.index-cont-title{
	font-size: 35px;
	padding: 20px;
	color: rgb(1, 3, 126);
}
.index-cont-events, .index-cont-jobdesc, .index-cont-featalum{
	/* border: solid 1px black; */
	display: flex;
}
@media only screen and (max-width:930px){
	.index-cont-events, .index-cont-jobdesc, .index-cont-featalum{	
		display: block;
	}
}
.index-ce-contain, .index-cjd-contain, .index-cfa-contain{
	/* display: flex; */
	/* border: solid 1px black; */
	width: 33.275%;
	padding: 10px;
}
@media only screen and (max-width:930px){
	.index-ce-contain, .index-cjd-contain, .index-cfa-contain{	
		width: 100%;
		padding: 10px;
	}
}
.index-cectn-post, .index-cjdctn-post, .index-cfactn-post{
	width: 100%;
	/* border: solid 1px black; */
	background-color: rgb(224, 230, 247);
}
/* .index-cectn-post:link, .index-cectn-post:visited{
	background-color: rgb(1, 3, 126);
	color: white;
	text-decoration: none;
} */
.index-cectn-post, .index-cjdctn-post, .index-cfactn-post{
	/* background-color: rgb(1, 3, 126); */
	color: black;
	text-decoration: none;
}
.index-cectn-postcover img, .index-cjdctn-post img, .index-cfactn-post img{
	width: 100%;
}
.index-cectn-posttitle, .index-cjdctn-posttitle, .index-cfactn-posttitle{
	color: rgb(1, 3, 126);
	padding: 5px;
	padding-top: 10px;
	text-align: left;
}
.index-cectn-postcontent, .index-cjdctn-postcontent, .index-cfactn-postcontent{
	font-size: 15px;
	padding: 5px;
	padding-bottom: 10px;
	text-align: left;
}
.index-cectn-post:hover, .index-cjdctn-post:hover, .index-cfactn-post:hover{
	background-color: rgb(203, 203, 255);
	/* color: white; */
	text-decoration: none;
}
.index-cectn-post:active, .index-cjdctn-post:active, .index-cfactn-post:active{
	background-color: rgb(181, 181, 252);
	/* color: white; */
	text-decoration: none;
}

	/*
.index-cectn-posttitle:hover, .index-cjdctn-posttitle:hover, .index-cfactn-posttitle:hover{
	color: rgb(1, 3, 126);
} */

/* .index-cjdctn-post{
	width: 100%;
	border: solid 1px black;
}


.index-cfactn-post{
	width: 100%;
	border: solid 1px black;
} */

/*AGENCY FOOTER--------------------------------------------------------------------------------------*/

.index-af-left-blk, .index-af-mid-blk, .index-af-right-blk{
	display: block;
}
/* @media only screen and (max-width:930px){
	.index-af-left-blk, .index-af-mid-blk, .index-af-right-blk{
		display: block;
	}
} */
.index-af-mid-blk div, .index-af-right-blk{
	text-align: left;
}

.index-af-left-blk{
	width: 33%;
}
.index-af-mid-blk{
	width: 34%;
}
.index-af-right-blk{
	width: 33%;
}
.index-af-lb-img img{
	width: 60%;
}
@media only screen and (max-width:930px){
	.index-af-left-blk, .index-af-mid-blk, .index-af-right-blk{
		/* text-align: center; */
		width: 100%;
	}
	/* .index-af-mid-blk div, .index-af-right-blk{
		text-align: center;
	} */
}


