* {
	font-family: sans-serif;
	box-sizing: border-box;
	text-align: center;
}
html{
	min-width: 180px;
}
body{
	background-color: white;
	margin: auto;
	font-size: 20px;
}
.std-contain{
	background-color: whitesmoke;
	width: 1190px;
	margin:auto;
}

@media only screen and (max-width: 1190px) {
	.std-contain{
		width: 100%;
	}
}

div.index-topbar, div.index-masthd, div.banner, div.auxmenu, div.content, div.index-agenft, div.stdft{
	width: 100%;
}

div.index-topbar{
	background-color: rgb(1, 3, 126);
    display: flex;
    /* font-size: 25px; */
}
div.index-masthd{
    height: auto;
	background-color: white;
}
div.banner{
	height: 460px;
	background-color: lightgray;
}

div.auxmenu{
	display: none;
}
div.index-content{
	/* height: 30%; */
	background-color: white;
}
div.index-agenft{
	display: flex;
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: rgb(235, 239, 250);
}
div.stdft{
	height:20%;
	background-color: gray;
}


/*TOPBAR-------------------------------------------------------------*/
.index-tb-logo{
    width: 200px;
}
.index-tb-logo img{
    width: 100px;
    height: 100px;
    padding: 10px 10px;
}
.tb-icon {
	padding: 12px 20px;
	display:none;
}
.tb-a:link, .tb-a:visited{
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
}
.tb-a:hover{
	background-color: lightgray;
	color: black;
	text-decoration: none;
}
.tb-a:active{
	background-color: gray;
	color: white;
	text-decoration: none;
}
.tb-title{
	width: 300px;
	padding: 20px 0px;
}
.tb-menu{
    display: flex;
    width: 100%;
}
.popup-tb-menu{
	width: 300px;
	height: 1000px;
	position: fixed;
	display: none;
	opacity: 0.9;
	/* border: solid 1px black; */
	background-color: whitesmoke;
}
@media only screen and (max-width:753px) {
	.tb-title, .tb-menu a{
		display: none;
	}
	.tb-icon{
		display: block;
	}
	#tb-a-x{
		display: none;
	}
	#tb-a-bars{
		display: block;
	}
}
/* @media only screen and (min-width:754px){
	.popup-tb-menu{
		display: none;
	}
} */
.tb-menu-opt, .tb-pf-opt, .popup-tb-menu-opt{
    padding: 40px 40px;
}
.tb-menu a:link, .tb-menu a:visited{
	background-color: rgb(1, 3, 126);
	color: white;
	text-decoration: none;
}
.tb-menu a:hover{
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
}
.tb-menu a:active{
	background-color: rgb(189, 4, 4);
	color: white;
	text-decoration: none;
}
.tb-menu .tb-menu-opt{
    /* border: solid 1px; */
    /* width: 100%; */
    text-align: center;
}
.popup-tb-menu-opt{
	text-align: left;
}
/* .popup-tb-menu-opt{
	border:solid 1px black;
} */
.popup-tb-menu a{
	text-decoration: none;
	color:black;
}
.popup-tb-menu-opt:link, .popup-tb-menu-opt:visited{
	background-color: whitesmoke;
	color: black;
	
}
.popup-tb-menu-opt:hover{
	background-color: lightgray;
	color: black;
	
}
.popup-tb-menu-opt:active{
	background-color: gray;
	color: white;
	
}
.tb-profile{
    display: flex;
    /* width:inherit; */
	
    /* border: solid 1px; */
    
}
/* text-align: center; */
/* .tb-profile a{
	width: 100%;
	text-align: right;
} */

.tb-profile a:link, .tb-profile a:visited{
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
}
.tb-profile a:hover{
	background-color: lightgray;
	color: black;
	text-decoration: none;
}
.tb-profile a:active{
	background-color: gray;
	color: white;
	text-decoration: none;
}
.tb-profile .tb-menu-opt{
    /* border: solid 1px; */
    width: 100%;
    text-align: center;
}


/*MASTHEAD-----------------------------------------------------------------------------*/

.mast-aclc-img{
    height: auto;
}

/*CONTENT AREA------------------------------------------------------------------------------*/

.cont-home h1{
    display: block;
	text-align: left;
}
.cont-dir{
    display: none;
}
.cont-prof{
    display: none;
}

.index-cont-title{
	font-size: 35px;
	padding: 20px;
	color: rgb(1, 3, 126);
}
.index-cont-events, .index-cont-jobdesc, .index-cont-featalum{
	/* border: solid 1px black; */
	display: flex;
}
.index-ce-contain, .index-cjd-contain, .index-cfa-contain{
	/* display: flex; */
	/* border: solid 1px black; */
	width: 33.275%;
	padding: 10px;
}
.index-cectn-post, .index-cjdctn-post, .index-cfactn-post{
	width: 100%;
	/* border: solid 1px black; */
	background-color: rgb(224, 230, 247);
}
/* .index-cectn-post:link, .index-cectn-post:visited{
	background-color: rgb(1, 3, 126);
	color: white;
	text-decoration: none;
} */
.index-cectn-post, .index-cjdctn-post, .index-cfactn-post{
	/* background-color: rgb(1, 3, 126); */
	color: black;
	text-decoration: none;
}
.index-cectn-postcover img, .index-cjdctn-post img, .index-cfactn-post img{
	width: 100%;
}
.index-cectn-posttitle, .index-cjdctn-posttitle, .index-cfactn-posttitle{
	color: rgb(1, 3, 126);
	padding: 5px;
	padding-top: 10px;
	text-align: left;
}
.index-cectn-postcontent, .index-cjdctn-postcontent, .index-cfactn-postcontent{
	font-size: 15px;
	padding: 5px;
	padding-bottom: 10px;
	text-align: left;
}
.index-cectn-post:hover, .index-cjdctn-post:hover, .index-cfactn-post:hover{
	background-color: rgb(203, 203, 255);
	/* color: white; */
	text-decoration: none;
}
.index-cectn-post:active, .index-cjdctn-post:active, .index-cfactn-post:active{
	background-color: rgb(181, 181, 252);
	/* color: white; */
	text-decoration: none;
}

	/*
.index-cectn-posttitle:hover, .index-cjdctn-posttitle:hover, .index-cfactn-posttitle:hover{
	color: rgb(1, 3, 126);
} */

/* .index-cjdctn-post{
	width: 100%;
	border: solid 1px black;
}


.index-cfactn-post{
	width: 100%;
	border: solid 1px black;
} */

/*AGENCY FOOTER--------------------------------------------------------------------------------------*/

.index-af-left-blk, .index-af-mid-blk, .index-af-right-blk{
	display: block;
}
.index-af-mid-blk div, .index-af-right-blk{
	text-align: left;
}
.index-af-left-blk{
	width: 33%;
}
.index-af-mid-blk{
	width: 34%;
}
.index-af-right-blk{
	width: 33%;
}
.index-af-lb-img img{
	width: 60%;
}


